---
import { getCollection, render } from "astro:content";
import Root from "$/layouts/default.astro";
import Search from "$/components/search";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id, year: new Date(post.data.date).getFullYear() },
    props: post,
  }));
}

const post = Astro.props;
const { Content } = await render(post);
---

<Root>
  <article class="max-w-ch-md w-full">
    <main>
      <h1 id="title" class="mt-64 text-5xl md:text-7xl flex items-center justify-center">
        {post.data.title}
      </h1>
      <div id="prose" class="[&>p]:text-justify [&>p]:hyphens-auto">
        <Content />
      </div>
    </main>
  </article>
</Root>
