---
import { getCollection } from "astro:content";
import Root from "$/layouts/default.astro";

import { Calendar } from "lucide-react";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Root>
  <h1 class="span-2 text-7xl mb-2 mt-64">Writing</h1>
  <section class="grid grid-cols-3 gap-4 mt-4">
    {
      posts.map(({ data: p, body, ...stuff }) => (
        <article class="break-inside-avoid border border-grey-100/10 hover:border-grey-100/20 transition-all backdrop-blur-md bg-grey-950/20 p-4 rounded-lg w-full max-w-xs not-prose ">
          <a href={`w/${new Date(p.date).getFullYear()}/${stuff.id}`}>
            <h3 class="text-grey-50 font-semibold text-2xl mb-2 grid grid-template-rows-subgrid row-span-1">
              {p.title}
            </h3>

            <ul class="flex flex-wrap text-sm gap-2 my-4">
              <li class="rounded-full px-2 py-0.5 bg-grey-900 flex-nowrap text-nowrap flex items-center justify-center gap-2">
                <Calendar className="size-4 text-old-rose" />
                <date>{new Date(p.date).toLocaleDateString()}</date>
              </li>
              {p.tags &&
                p.tags.map((tag) => (
                  <li class="inline-flex capitalize items-center justify-center rounded-full px-2 py-0.5 bg-grey-900 flex-nowrap text-nowrap">
                    <span class="font-light font-mono text-old-rose">#</span>{" "}
                    {tag}
                  </li>
                ))}
            </ul>

            <p class="text-sm ">{p.description}</p>
          </a>
        </article>
      ))
    }
  </section>
</Root>
