---
import Root from "$/layouts/default.astro";
import Search from "$/components/search.tsx";
---

<Root>
  <section class="max-w-ch-sm">
    <h1 class="text-7xl justify-center items-center flex gap-2 mb-0">404</h1>
    <span
      class="font-normal flex items-center justify-center mt-0 text-center w-full text-4xl"
      >Page not found</span
    >
    <p>
      The page you're looking for seems to have wandered off into the digital
      void. Don't worry, it happens to the best of us!
    </p>
  </section>
</Root>
