---
import Layout from "$/layouts/default.astro";
---

<Layout>
  <article class="max-w-ch-md">
    <main>
      <h1 class="text-7xl text-center mt-64">About me</h1>
      <p>
        Hey! I'm Jacob, a {new Date().getFullYear() - 2010}yr old polish GCSE
        student in England with a strong focus on Computer Science.
      </p>
      <p>
        About {new Date().getFullYear() - 2020} years ago, I taught myself python,
        in order to make a discord bot, based around serving food emojis. Since then,
        I got into web dev, to make the first of many iterations of this website,
        where I first learnt Svelte, before looking into React.
      </p>
    </main>
  </article>
</Layout>
