---
import { cn } from "$/lib";
---

<div
  class={cn(
    "h-5 w-[180px] mx-auto my-16 bg-[url(/line.svg]a br-red-500 -mask-linear-50 mask-linear-from-60% mask-linear-to-80%",
    Astro.props.class,
  )}
>
</div>
