---
import "$/styles/global.css";
import "$/components/cmdk.css";
import Posthog from "$/components/posthog.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.png" />
    <title>{"Jafu.py"}</title>
    <Posthog />
  </head>

  <body class="overflow-x-hidden scroll-smooth bg-grey-950 text-white px-8">
    <slot />

    <div
      class="absolute right-0 top-0 -z-50 aspect-square w-screen max-w-52 -translate-y-1/2 blur-3xl sm:scale-[3] rounded-full bg-prussian-blue"
    >
    </div>
    <div
      class="absolute left-0 bottom-0 -z-50 w-screen aspect-square max-w-52 translate-y-1/2 blur-3xl sm:scale-[2] rounded-full bg-old-rose opacity-30"
    >
    </div>
  </body>
</html>
