---
import "@fontsource-variable/bricolage-grotesque";
import "@fontsource-variable/jetbrains-mono";
import "@fontsource-variable/brygada-1918";
import { CommandIcon, ExternalLinkIcon } from "@lucide/svelte";
import SeoHead from "$/components/seo-head.astro";
import { SITE_NAME, type SeoProps } from "$/lib/seo";

import "$/styles/global.css";

import Cmdk from "$/lib/cmdk/component.svelte";
import Divider from "$/lib/divider.svelte";
import Hud from "$/lib/hud/hud.svelte";

const { title = SITE_NAME } = Astro.props as SeoProps;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <SeoHead {...Astro.props} />
  </head>
  <body class="bg-mauve-900 text-mauve-200 p-8 pb-0 relative min-h-screen">
    <header class="fixed top-6 left-1/2 -translate-x-1/2 z-50000 flex">
      <nav
        class="flex w-fit gap-4 px-4 pr-2 py-2 rounded-xl border border-mauve-100/20 backdrop-blur-md transition-colors bg-mauve-800/20 text-sm items-center justify-center"
      >
        <div id="nav_default" class="nav-default flex items-center gap-4">
          <a
            href="/"
            class="group flex items-center justify-center gap-1.5 hover:text-old-rose transition-colors"
          >
            Jafu.py
            <span class="sr-only">Home</span>
          </a>
          <a href="/writing" class="hover:text-old-rose transition-colors"
            >Writing</a
          >
          <a
            href="mailto:hello@jafupy.com"
            class="group relative hover:text-old-rose transition-colors flex items-center justify-center gap-2"
            >Contact
            <ExternalLinkIcon class="size-3.75 not-sm:hidden" />
            <span
              id="contact_tooltip"
              class="invisible select-text pointer-events-auto not-group-hover:delay-200 overflow-visible group-hover:visible absolute top-full mt-2 left-1/2 -translate-x-1/2 bg-mauve-900 text-sm px-4 py-1.5 rounded-lg border border-mauve-100/10 whitespace-nowrap before:content-[''] before:absolute before:bottom-full before:translate-y-1/2 before:-z-2 before:left-1/2 before:-translate-x-1/2 before:border-l before:border-t before:border-mauve-100/10 before:bg-mauve-900 before:rounded-tl-xs before:size-2 before:rotate-45"
            >
              hello@jafupy.com
            </span>
          </a>
          <Divider class="not-sm:hidden" />
          <button
            id="cmdk_trigger"
            type="button"
            class="flex items-center gap-1 text-xs p-1 px-3 rounded-md border border-mauve-100/20 bg-mauve-800 transition-colors hover:bg-mauve-900 hover:border-mauve-100/20"
          >
            <CommandIcon class="size-3 transition-colors" />
            <span class="transition-colors">K</span>
          </button>
        </div>
      </nav>
    </header>

    <h1
      id="wordmark"
      class="font-serif text-mauve-50 fixed left-1/2 -translate-x-1/2 -translate-y-3/5 leading-none -z-1 font-semibold max-w-[max(calc(100vw-16rem),80vw)] w-full text-center"
    >
      {title}
    </h1>
    <div
      id="fade"
      class="fixed inset-0 -z-1 bg-[radial-gradient(transparent_25%,var(--color-mauve-900)_25%)] bg-size-[4px_4px]"
    >
    </div>
    <div id="content" class="max-w-ch-md mx-auto p-0">
      <slot />
    </div>

    <dither-shader
      halftone="100"
      color="#cb8b8c68"
      brightness="-0.5"
      mode="noise"
      dot-size="3"
      rotation="32"
      jitter="0.8"
      warp="50"
      blue-noise="0.45"
      animate="false"
      class="fixed! opacity-70"></dither-shader>
    <Cmdk client:only="svelte" />
    <Hud client:only="svelte" />
  </body>
</html>

<script>
  import { setupMinimalLayout } from "$/lib/minimal/client";

  setupMinimalLayout();
</script>
